.single-day-regular {
  font-family: "Single Day", cursive;
  font-weight: 400;
  font-style: normal;
}

.pacifico-regular {
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
}

.material-symbols-outlined {
  font-family: 'Material Symbols Outlined';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
}

body,
#canvas {
  font-size: 2vw;
  margin: 0;
  padding: 0;
  overflow: visible;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: #ffe5d9;
  font-family: "Single Day", cursive;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}

#navbar {
  font-family: "Single Day", cursive;
  width: 100%;
  background-color: #9d8189;
  color: #fff;
  padding: 1vw 0vw;
  text-align: center;
  text-shadow: 2px 2px 4px #ffcad4;
  a:link {
    color: #d8e2dc;
  }

  a:visited {
    color: #f4acb7;
  }

  a:hover {
    color: #ffcad4;
  }

  a:active {
    color: #ffe5d9;
  }
}

#app-title-container {
  font-family: "Pacifico", cursive;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.5vw 0;
  margin: 1vw;
  color: #9d8189;
}

#app-icon {
  width: 6vw;
  height: auto;
  margin-right: 0.5vw;
}

#app-title {
  font-size: 4vw;
  color: #fff;
  text-shadow: 2px 2px 4px #9d8189;
}

#instruc-title {
  font-size: 3vw;
  color: #fff;
  text-shadow: 2px 2px 4px #9d8189;
}

#instructions {
  font-family: "Single Day", cursive;
  font-weight: bold;
  text-align: left;
  background-color: #d8e2dc;
  color: #9d8189;
  font-size: 2vw;
  margin: 2vw;
  border-style: dashed;
  border-color: #ffcad4;
  border-radius: 15px;
  padding: 1.5vw;
}

#sketch {
  font-family: "Single Day", cursive;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  background-color: #ffcad4;
  margin-left: 3vw;
  margin-right: 3vw;
  margin-bottom: 1vw;
  border-radius: 15px;
  border-style: dashed;
  border-color: #9d8189;
  padding: 4vw;
}

.box {
  font-family: "Single Day", cursive;
  box-sizing: border-box;
  width: calc(33% - 40px);
  margin: 1vw;
  border: 3px dotted #9d8189;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 1vw;
  box-shadow: 10px 10px #f4acb7;
}

.title {
  font-family: "Single Day", cursive;
  font-weight: bold;
  text-align: center;
  color: #9d8189;
  text-shadow: 2px 2px 4px #fff;
  font-size: 2vw;
}

.content {
  font-family: "Single Day", cursive;
  width: 160px;
  height: 120px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#footer {
  font-size: 2vw;
  font-family: "Single Day", cursive;
  color: #fff;
  width: 100%;
  background-color: #9d8189;
  padding: 5vw 0vw;
  text-align: center;
  text-shadow: 2px 2px 4px #ffcad4;
  a:link {
    color: #d8e2dc;
  }

  a:visited {
    color: #f4acb7;
  }

  a:hover {
    color: #ffcad4;
  }

  a:active {
    color: #ffe5d9;
  }
}
